html, body {
   -webkit-font-smoothing: antialiased;
   font-family: 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif;
   font-size: 14px;
   line-height: 21px;
   word-spacing: -1px;
}

#game {
   float: left;
   padding: 10px;
}

#stats {
   padding: 10px;
   float: left;
   width: 200px;
}

h1 {
   font-weight: bold;
   font-size: 25px;
   margin: 25px 0 10px 0;
}
